body{
    user-select: none;
}

header {
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
}
.end{
    position: absolute;
    top: 15px;
    left: 20px;
    height: 50px;
    width: 100px;
    display: none;
}


.imgcontainer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 5;
    transition: top 0.1s linear, left 0.1s linear;
}

.imgcontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 50%;
}

.imgcontainer p {
    position: absolute;
    top: 0%;
    left: 100%;
    text-shadow:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000,
        1px 1px 0 #000,
        0 1px 0 #000,
        -1px 1px 0 #000,
        -1px 0 0 #000,
        5px 5px 5px black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.start {
    width: 100px;
    height: 50px;
    margin-top: 15%;
}

h2{
    display: none;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer div {
    margin: 0 2%;
}

footer .divdiff{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .divdiff button{
    height: 30px;
    width: 50px;
}

footer .soundbox {
    display: flex;
}

footer #muted {
    display: none;
}

footer .soundcontainer {
    width: 100px;
    height: 50px;
}

footer .soundcontainer img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}